name: CI
on:
    push:
        branches:
            - main
        paths:
            - "core/**"
            - "include/**"
            - "platform/**"
            - "tests/**"
            - "CMakeLists.txt"
            - "CMakePresets.json"
            - "cmake/**"
            - ".github/workflows/ci.yaml"

jobs:
    test:
        runs-on: ubuntu-latest
        name: Build and Run Native Tests
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
            - name: Install dependencies
              run: sudo apt-get update && sudo apt-get install -y cmake build-essential
            - name: Build and run tests
              run: |
                  mkdir -p core/build
                  cd core/build
                  cmake -DCMAKE_BUILD_TYPE=Debug -DLD2420_CORE_BUILD_TESTS=ON ..
                  cmake --build .
                  ctest --output-on-failure
